<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="target/logs/pig_service.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="50000KB"/>
	<param name="MaxNumberOfDays" value="30"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d|%5p|PIG_SERVICE|%m%n"/>
        </layout>
    </appender>
    <root>
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>
